.popup {
  position: absolute;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: none;

  &--open {
    display: flex;
  }

  &__window {
    position: relative;
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 32px;
    width: 480px;
  }

  &__title {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333333;
    max-width: 433px;
    margin: 0 auto;
  }
  &__form {
    padding-left: 80px;
    padding-right: 80px;

    &--wide {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  &__submit {
    @include button-reset;
    display: block;
    background: linear-gradient(180deg, #ffffff 0%, #ebebeb 100%);
    border-radius: 2px;
    padding: 8px 16px;
    padding-bottom: 10px;
    width: 100%;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    border: 1px solid #d9d9d9;
    border-bottom-color: #b8b8b8;
    text-align: center;
    color: #333333;

    &:disabled {
      border: 1px solid rgba(0, 0, 0, 0.15);
      background-color: #f2f2f2;
      font-family: "Segoe UI", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #a0a0a0;
      cursor: auto;
    }

    &--remove {
      display: inline-block;
      max-width: 180px;
      background: linear-gradient(180deg, #ec5438 0%, #d44327 100%);
      color: #fff;
    }
    &--cancel {
      display: inline-block;
      max-width: 180px;
      margin-left: 25px;
    }

    &--unblock {
      background-color: #219653;
    }
  }
  &__close {
    @include button-reset;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    right: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7M13 13L7 7M7 7L13 1M7 7L1 13' stroke='black' stroke-opacity='0.37' stroke-width='1.5'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }
  &__label {
    position: relative;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 25px;
    display: block;
    &--photo {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-family: "Segoe UI", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 17px;
      text-align: center;
      margin-bottom: 24px;
      color: #615fc8;
    }
  }
  &__input {
    margin-top: 8px;
    width: 100%;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    padding: 8px 12px;
    border: 1px solid #d9d9d9;
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.06);
    &::placeholder {
      color: rgba(51, 51, 51, 0.5);
    }
    &--photo {
      display: none;
    }
  }
  &__input-photo {
    background: #e6e6e6;
    border: 1px solid rgba(255, 255, 255, 0.35);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 12px;

    & img[src=""] {
      opacity: 0;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__textarea {
    width: 100%;
    height: 120px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    padding: 8px 12px;
    border-style: solid;
    border-color: #d9d9d9;
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.06);
    &::placeholder {
      color: rgba(51, 51, 51, 0.5);
    }

    margin-bottom: 24px;
  }

  &__label-link {
    margin-left: 140px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #2f80ed;
  }

  &__text {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #333333;

    &--centered {
      max-width: 433px;
      text-align: center;
    }
  }

  &__show-pass {
    @include button-reset;

    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99999 4.80005C4.66718 4.80005 0.499988 9.73755 0.499988 9.73755C0.368738 9.88755 0.368738 10.1125 0.499988 10.2625C0.499988 10.2625 4.66718 15.2 9.99999 15.2C15.3328 15.2 19.5 10.2625 19.5 10.2625C19.6312 10.1125 19.6312 9.88755 19.5 9.73755C19.5 9.73755 15.3328 4.80005 9.99999 4.80005ZM9.99999 5.60005C11.0516 5.60005 12.0562 5.81724 12.9875 6.15005C13.6125 6.8563 14 7.77974 14 8.80005C14 11.0141 12.2141 12.8 9.99999 12.8C7.78593 12.8 5.99999 11.0141 5.99999 8.80005C5.99999 7.77974 6.37499 6.8563 6.99999 6.15005C7.93436 5.81567 8.9453 5.60005 9.99999 5.60005ZM5.67499 6.73755C5.37499 7.36255 5.19999 8.06255 5.19999 8.80005C5.19999 11.4469 7.35311 13.6 9.99999 13.6C12.6469 13.6 14.8 11.4469 14.8 8.80005C14.8 8.06567 14.6328 7.36255 14.3375 6.73755C16.5969 7.88599 18.2219 9.55161 18.6375 10C17.9875 10.7032 14.3891 14.4 9.99999 14.4C5.61093 14.4 2.01249 10.7032 1.36249 10C1.77811 9.55005 3.41093 7.88599 5.67499 6.73755ZM9.99999 6.80005C8.8953 6.80005 7.99999 7.69536 7.99999 8.80005C7.99999 9.90474 8.8953 10.8 9.99999 10.8C11.1047 10.8 12 9.90474 12 8.80005C12 7.69536 11.1047 6.80005 9.99999 6.80005Z' fill='%232F80ED'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    bottom: 10px;
    right: 16px;
    z-index: 10;

    &--shown {
      &::after,
      &::before {
        position: absolute;
        width: 100%;
        content: "";
        height: 1px;
        background: #2f80ed;
        top: 10px;
        left: 0;
      }

      &::after {
        transform: rotate(45deg);
      }
      &::before {
        transform: rotate(-45deg);
      }
    }
  }

  &__error {
    display: none;
    position: absolute;
    bottom: -25px;
    color: red;
    font-size: 12px;
    line-height: 100%;
    margin: 0;

    .popup--invalid-pass &--invalid-pass {
      display: block;
    }
    .popup--diff-pass &--diff-pass {
      display: block;
      bottom: -17px;
    }
    .popup--wrong-nickname &--wrong-nickname {
      bottom: -17px;
      display: block;
    }
    .popup--new-pass &--new-pass {
      bottom: -17px;
      display: block;
    }
  }
}
