.popup {
  position: absolute;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: none;

  &--open {
    display: flex;
  }

  &__window {
    position: relative;
    background-color: #fff;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 32px;
    width: 480px;
  }

  &__title {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */

    text-align: center;

    /* Text */

    color: #333333;
  }
  &__submit {
    @include button-reset;
    display: block;
    background: linear-gradient(180deg, #ffffff 0%, #ebebeb 100%);
    border-radius: 2px;
    padding: 8px 16px;
    padding-bottom: 10px;
    width: 100%;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    border: 1px solid #d9d9d9;
    border-bottom-color: #b8b8b8;
    text-align: center;
    color: #333333;

    &:disabled {
      border: 1px solid rgba(0, 0, 0, 0.15);
      background-color: #f2f2f2;
      font-family: "Segoe UI", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #a0a0a0;
      cursor: auto;
    }
  }
  &__close {
    @include button-reset;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    right: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7M13 13L7 7M7 7L13 1M7 7L1 13' stroke='black' stroke-opacity='0.37' stroke-width='1.5'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }
  &__label {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
  }
  &__textarea {
    width: 100%;
    height: 120px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 137% */
    padding: 8px 12px;

    &::placeholder {
      color: rgba(51, 51, 51, 0.5);
    }

    margin-bottom: 24px;
  }
}
