.user-list {
    &__table {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
    }

    &__tr {
        display: flex;
        padding: 9px 12px;
        padding-top: 0;
    }

    &__th {
        & input {
            position: absolute;
            opacity: 0;
        }

        & input:checked~.user-list__th-label--checkbox {
            &::before {
                position: absolute;
                content: "";
                width: 16px;
                height: 16px;
                left: 0;
                top: 0;
                background-color: #1D85D0;
                border: 1px solid #1D85D0;
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.21667 6.16667L10.1333 0.25L11.9667 2.1L4.21667 9.85L0.0166667 5.65L1.86667 3.81667L4.21667 6.16667Z' fill='white'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        margin-right: 50px;

        &--id {
            margin-right: 21px;
        }

        &--user {
            margin-right: 104px;
        }

        &--mail {
            margin-right: 112px;
        }

        &:last-child {
            margin-left: auto;
            margin-right: 20px;
        }
    }

    &__th-label {
        position: relative;
        padding-left: 28px;
        font-family: 'Segoe UI', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: rgba(51, 51, 51, 0.5);

        &:hover {
            & .user-list__sort-btn {
                display: block;
                position: absolute;
                @include button-reset;
                background-image: url("data:image/svg+xml,%3Csvg width='6' height='3' viewBox='0 0 6 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 3L0.401923 -4.89399e-07L5.59808 -3.51373e-08L3 3Z' fill='black' /%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center;
                width: 10px;
                height: 10px;
                opacity: 0.3;

                &--increment {
                    transform: rotateZ(180deg);
                    left: 15px;
                    top: 0.1px;
                }

                &--decrement {
                    left: 15px;
                    top: 6px;
                }

                &:hover,
                &:focus {
                    opacity: 1;
                }
            }
        }

        &--checkbox {
            &::before {
                position: absolute;
                content: "";
                background: rgba(255, 255, 255, 1e-05);
                /* 15% Dark Background */
                width: 16px;
                height: 16px;
                left: 0;
                top: 0;
                border: 1px solid rgba(0, 0, 0, 0.15);
                box-sizing: border-box;
                border-radius: 2px;
            }
        }
    }

    &__sort-btn {
        display: none;
    }
}