.tab {
  display: none;

  &:first-child {
    padding: 0 10px;
    padding-left: 20px;
  }

  &--current {
    display: block;
  }

  &__title {
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
  }

  &__legend {
    margin-bottom: 3px;

    &--shadow {
      font-family: "Segoe UI", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      /* identical to box height, or 133% */
      margin: 0;
      padding: 0;
      color: rgba(51, 51, 51, 0.5);
      margin-bottom: 20px;
    }
  }
  &__avatar {
    display: flex;
    margin-bottom: 24px;
  }

  &__avatar-wrapper {
    display: none;
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #dadada;
    margin-right: 20px;
    & {
      & ~ .tab__avatar-controls > .tab__avatar-add {
        display: block;
      }
      & ~ .tab__avatar-controls > .tab__avatar-remove {
        display: none;
      }
    }

    &--set {
      display: block;
      & ~ .tab__avatar-controls > .tab__avatar-add {
        display: none;
      }
      & ~ .tab__avatar-controls > .tab__avatar-remove {
        display: block;
      }
    }
  }

  &__avatar-remove {
    padding-top: 15px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
  }

  &__avatar-remove-label {
    @include button-reset;
    display: block;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #ee0202;
  }

  &__avatar-add {
    & input {
      display: none;
    }
  }

  &__add-label {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #3072c4;
  }
  &__avatar-info {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    display: block;
    color: rgba(0, 0, 0, 0.5);
    width: 167px;
  }

  &__label {
    display: block;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 22px;

    &--checkbox {
      margin: 0;
      margin-bottom: 16px;
      margin-left: 24px;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 16px;
        height: 16px;
        top: 5px;
        left: -25px;
        background: linear-gradient(180deg, #ffffff 0%, #ebebeb 100%);
        border-radius: 2px;
        border: 1px solid rgba(0, 0, 0, 0.15);
      }

      input:checked + &::before {
        position: absolute;
        content: "";
        width: 16px;
        height: 16px;
        top: 5px;
        left: -25px;
        background-color: #1d85d0;
        border: 1px solid #1d85d0;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.21667 6.16667L10.1333 0.25L11.9667 2.1L4.21667 9.85L0.0166667 5.65L1.86667 3.81667L4.21667 6.16667Z' fill='white'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &--inner {
      margin-left: 50px;
    }
  }

  &__label-error {
    display: none;
    color: #ee0202;

    // .tab__input--invalid ~ &,
    // .tab__input:invalid:not(:placeholder-shown) ~ & {
    //   display: block;
    // }
  }

  &__input {
    display: block;
    width: 320px;
    height: 40px;
    margin-top: 8px;
    padding: 12px;
    padding-top: 8px;
    padding-bottom: 10px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #333333;

    &:invalid {
      border: 1px solid #ee0202;

      & ~ .tab__label-error {
        display: block;
      }

      &:placeholder-shown {
        border: 1px solid #000;

        & ~ .tab__label-error {
          display: none;
        }
      }
    }

    &--invalid {
      border: 1px solid #ee0202 !important;
      & ~ .tab__label-error {
        display: block !important;
      }
    }
  }

  &__submit-button {
    @include button-reset;

    display: block;
    border-radius: 2px;
    background: linear-gradient(180deg, #ffffff 0%, #ebebeb 100%);
    width: 320px;
    padding: 12px;
    padding-top: 8px;
    padding-bottom: 10px;
    border: 1px solid #d9d9d9;
    border-bottom-color: #b8b8b8;
    margin-top: 83px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #333333;

    &--absolute {
      position: absolute;
      bottom: -50px;
      left: 20px;
    }
  }

  &__error {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ee0202;
    margin: 0;
    margin-top: 10px;
    padding-left: 20px;
    display: none;
  }

  &__success {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #219653;
    margin: 0;
    margin-top: 10px;
    padding-left: 40px;
    display: none;
  }

  &__form {
    &--error {
      & .tab__error {
        display: block;
      }
    }
    &--success {
      & .tab__success {
        display: block;
      }
    }
    &--multicolumn {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      max-height: 400px;
    }
  }

  &__fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  &__checkbox {
    display: none;
  }
}
