<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css"
      integrity="sha512-bYPO5jmStZ9WI2602V2zaivdAnbAhtfzmxnEGh9RwtlI00I9s8ulGe4oBa5XxiC6tCITJH/QG70jswBhbLkxPw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Список администраторов</title>
  </head>
  <body>
    <header class="page-header">
      <div class="page-header__wrapper">
        <div class="header-logo">
          <a href="#" class="header-logo__link"
            ><img src="img/logo.svg" width="73" height="30" alt="Logo"
          /></a>
          <button class="header-logo__button"></button>
        </div>
        <nav class="nav">
          <ul class="nav__list">
            <ul class="nav__list">
              <li class="nav__item">
                <a href="#" class="nav__link">Пользователи</a>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link">Отчеты</a>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link nav__link--current">Админы</a>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link">Конструктор отчетов</a>
              </li>
            </ul>
          </ul>
        </nav>
      </div>
    </header>
    <main class="page-main" id="users">
      <div id="list">
        <section class="filters">
          <div class="filters__search">
            <input type="text" name="search" id="search" placeholder="Поиск" />
            <button class="filters__search-btn"></button>
          </div>
          <div class="filters__date-time">
            <label for="from-date" class="filters__label">Начиная с:</label>
            <input
              type="text"
              name="from-date"
              id="from-date"
              data-picker="datepicker"
            />
          </div>
          <div class="filters__date-time">
            <label for="to-date" class="filters__label">до:</label>
            <input
              type="text"
              name="to-date"
              id="to-date"
              data-picker="datepicker"
            />
          </div>
          <div class="filters__checked">Выбрано: <span>16</span></div>
          <button class="filters__btn filters__btn--min-width">
            Выгрузить в Excel
          </button>
        </section>
        <section class="user-list">
          <div class="user-list__table">
            <div class="user-list__tr user-list__tr--heading">
              <div
                class="user-list__th user-list__th--no-label user-list__th--id"
              >
                <input
                  class="user-list__checkbox user-list__checkbox--all"
                  type="checkbox"
                  name="all-checked"
                  id="all-checked"
                />
                <label
                  for="all-checked"
                  class="user-list__th-label user-list__th-label--checkbox"
                >
                </label>
              </div>
              <div
                class="user-list__th user-list__th--user user-list__th--mr100"
              >
                <span class="user-list__th-label">
                  <button
                    class="user-list__sort-btn user-list__sort-btn--increment"
                  ></button>
                  <button
                    class="user-list__sort-btn user-list__sort-btn--decrement"
                  ></button>
                  Пользователь
                </span>
              </div>
              <div
                class="user-list__th user-list__th--tel user-list__th--mr100"
              >
                <span class="user-list__th-label">
                  <button
                    class="user-list__sort-btn user-list__sort-btn--increment"
                  ></button>
                  <button
                    class="user-list__sort-btn user-list__sort-btn--decrement"
                  ></button>
                  Телефон
                </span>
              </div>
              <div class="user-list__th user-list__th--reports">
                <span class="user-list__th-label">
                  <button
                    class="user-list__sort-btn user-list__sort-btn--increment"
                  ></button>
                  <button
                    class="user-list__sort-btn user-list__sort-btn--decrement"
                  ></button>
                  Всего отчетов
                </span>
              </div>
              <div class="user-list__th user-list__th--last-report">
                <span class="user-list__th-label">
                  <button
                    class="user-list__sort-btn user-list__sort-btn--increment"
                  ></button>
                  <button
                    class="user-list__sort-btn user-list__sort-btn--decrement"
                  ></button>
                  Последний отчет
                </span>
              </div>

              <div
                class="
                  user-list__th user-list__th--last-date user-list__th--date
                "
              >
                <span class="user-list__th-label">
                  <button
                    class="user-list__sort-btn user-list__sort-btn--increment"
                  ></button>
                  <button
                    class="user-list__sort-btn user-list__sort-btn--decrement"
                  ></button>
                  Дата послед. входа
                </span>
              </div>
            </div>
            <div class="user-list__wrapper">
              <div v-for="user in data" class="user-list__tr">
                <div
                  class="user-list__td user-list__td--min-w32 user-list__td--pt"
                >
                  <input
                    class="user-list__checkbox"
                    type="checkbox"
                    name="admins"
                    :id="'check-' + user.id"
                  />
                  <label
                    :for="'check-' + user.id"
                    class="user-list__checkbox-label"
                  >
                  </label>
                </div>
                <div
                  class="user-list__td user-list__td--w user-list__td--mr-27"
                >
                  <div class="user-list__avatar">
                    <img src="" alt="" />
                  </div>

                  <p class="user-list__name">
                    {{user.name}}
                    <a href="#" class="user-list__user-id">{{user.id}}</a>
                  </p>
                </div>
                <div
                  class="user-list__td user-list__td--w111 user-list__td--mr-35"
                >
                  <a class="user-list__contact-info" :href="'tel:' + user.phone"
                    >{{user.phone.startsWith('+') ? user.phone : '+' +
                    user.phone}}</a
                  >
                </div>
                <div class="user-list__td">
                  <span class="user-list__reports-count"
                    >{{user.reports_count}}</span
                  >
                </div>
                <div class="user-list__td user-list__td--mr-27">
                  <p class="user-list__report-info">
                    <a href="#" class="user-list__report-link"
                      >Chevrolet Aveo 1.2 МТ (86 л.с.)</a
                    >
                    VIN: 12489947506048374 12/05/2021 11:34 (MAXI)
                  </p>
                </div>
                <div
                  class="
                    user-list__td
                    user-list__td--wrap
                    user-list__td--small-text
                    user-list__td--w
                  "
                >
                  <time datetime="2020-07-12 23:45" class="user-list__time"
                    >{{moment(user.lastLoginAt).format('DD MMM YYYY')}}</time
                  >
                  день назад
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="pagination">
          <ul class="pagination__list">
            <li
              v-for="(page, index) in getPagination"
              class="pagination__item"
              :class="{'pagination__item--current': page === rawData.current_page,
            'pagination__item--dots': !page.url}"
            >
              <a :href="page.url" :data-page="page" class="pagination__link"
                >{{page.label}}</a
              >
            </li>
          </ul>
          <a
            v-if="rawData.next_page_url"
            :href="rawData.next_page_url"
            class="pagination__more-btn"
            >Дальше</a
          >
        </section>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
      integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="js/moment.min.js"></script>
    <script src="js/vue-list.min.js"></script>
    <script src="js/script.min.js"></script>
  </body>
</html>
